*{
    box-sizing: border-box;
}
h1{
    text-align: center;

}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 450px;
    height: 450px;
    border: 1px solid black;

}
.container > div {
    display: flex;
    flex: 1;
    flex-shrink: 1;
}
.container .boxes{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid black;
}
.hover{
    background-color: red;
}